body{
    width: 100%;

}


.section1{
    widows: 100%;
    height:40%;
    background: url(../img/assets/backgrounds/h_img.jpg) no-repeat center ;
    background-size: cover;
    color: red;

    
}